
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 10% 98%;
    --foreground: 285 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 285 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 285 20% 10%;
    --primary: 268 83% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 100% 73%;
    --secondary-foreground: 0 0% 100%;
    --muted: 285 10% 92%;
    --muted-foreground: 285 10% 40%;
    --accent: 234 100% 73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 10% 85%;
    --input: 285 10% 85%;
    --ring: 268 83% 65%;
    --radius: 0.75rem;
    --chart-1: 268 83% 65%;
    --chart-2: 234 100% 73%;
    --chart-3: 285 20% 40%;
    --chart-4: 268 50% 60%;
    --chart-5: 234 60% 80%;
  }

  .dark {
    --background: 290 10% 11%;
    --foreground: 0 0% 100%;
    --card: 290 10% 13%;
    --card-foreground: 0 0% 100%;
    --popover: 290 10% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 268 83% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 100% 73%;
    --secondary-foreground: 0 0% 100%;
    --muted: 290 10% 20%;
    --muted-foreground: 290 5% 70%;
    --accent: 234 100% 73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 290 10% 20%;
    --input: 290 10% 20%;
    --ring: 268 83% 65%;
    --chart-1: 268 83% 65%;
    --chart-2: 234 100% 73%;
    --chart-3: 290 10% 40%;
    --chart-4: 268 60% 50%;
    --chart-5: 234 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

.glass {
  @apply bg-background/60 backdrop-blur-md border border-white/10;
}
